[boot]
systemd=true
{% if reach_wsl_command is defined %}
command={{ reach_wsl_command }}
{% endif %}

[user]
default={{ lookup('env', 'USER') }}

[automount]
enabled=true
root=/mnt
options="metadata,rw,umask=22,fmask=11"
mountFsTab=true

[interop]
enabled=true
appendWindowsPath=true
